h1, h2, button {
    color: white;
    background-color: black;
}

body {
    background-image: url("../img/tall-background.jpg");
    background-size: contain no-repeat;
}

footer {
    background-color: black;
}

div.row {
    margin: 0 0 0 0;
}

#fire {
    transform: rotate(-90deg);
    margin: 0 3px 0 0;
}

.jumbotron {
    color: white;
    background-image: url("../img/space.jpg");
    background-size: cover;
    margin: 0 -10px 0 -10;
    font-family: 'Star Jedi Hollow';
}

.container {
    
    color: whitesmoke;
    opacity: 1;
    background-size: 100% 100%;
}